.contact-card {
    background-color: #ffffff;
    border: 2px solid #05e950;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
  }
  
  .contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  .contact-details {
    padding: 20px;
    margin-top: 5rem !important;
    margin-bottom: auto !important;
    
  }
  
  .contact-details h3 {
    font-size: 30px;
    color: #7bbc3a;
    margin-bottom: 15px;
  }
  
  .contact-details p {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    font-weight: bold;
   
  }
  
  .contact-form {
    padding: 30px;
    margin-top: 3rem !important;
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    font-size: 14px;
    color: #333;
  }
  
  .contact-form .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .contact-form .form-control:focus {
    outline: none;
    border-color: #05e950;
    box-shadow: 0 0 5px rgba(5, 233, 80, 0.5);
  }
  
  .contact-form textarea {
    resize: none;
    height: 100px;
  }
  
  .contact-form .btn {
    background-color: #05e950;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form .btn:hover {
    background-color: #04c548;
  }
  #contactDetails{
    /* background-color: rgb(214, 209, 209) !important; */
  }
  