.accordions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
    
  }
  
  .accordion {
    /* background: linear-gradient(200deg, #ffffff 13.57%, rgb(232, 232, 232) 98.38%); */
    width: max(50vw, 280px);
    padding: 25px 30px 10px;
    border: 0.5px solid green;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
    height:7.5rem;
    
    &:nth-child(2) {
      background:  linear-gradient(200deg, #ffffff 13.57%, rgb(232, 232, 232) 98.38%);
    }
    
    &:nth-child(3) {
      background: linear-gradient(200deg, #ffffff 13.57%, rgb(232, 232, 232) 98.38%);
    }
    
    &:nth-child(4) {
      background:  linear-gradient(200deg, #ffffff 13.57%, rgb(232, 232, 232) 98.38%);
    }
  }
  
  .spacer {
    height: 8vh;
  }
  
  @media (max-width: 480px) {
    .accordion {
      padding: 15px 20px 8px;
    }
    .title {
      font-size: 20px;
    }
  }

  .accordian-content {
    background-color: white;
    height: 50rem;
    width: 100%;
    padding: 0 0 3rem 0;
  }

  .accordion .text{
    padding-top: 6px;
    /* background-color: rgb(29, 80, 56); */
    color: #888585;
    font-weight: 600;
    /* border-radius: 15px; */
  }
/*  */

.accordion--title{
    color:#7bbc3a;}