.home-page {
    padding: 0 6.5rem;
}
.home-page__section--intro {
    height: 80vh;
    width: 100%;
   background-color: white;
   display: grid;
   align-items: center;
}

.welcome-section {
    background-color: rgb(237, 234, 230);
    height: 58vh;
    width: 100%;
    padding: 4rem 7rem;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 6fr 4fr; */
}

.home-page__text {
    height: 97%;
    width: 40%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #000000;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #15572b 0%,
    #107a53 29%,
    #23ff13 67%,
    #00ff33 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear ;
  display: inline-block;
      font-size: 4rem;
      font-weight: 700;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.line-1 {
    letter-spacing: 2px;
}

.rupee-note {
    height: 80%;
    width: 90%;
    margin: 0%;
    padding: 0%;
    border: none;
    /*  */
    
    
    /* display: block; */
    /* position: absolute; */
    animation: linear alternate;
    animation-name: run;
    animation-duration: 0.3s;
    
}


  @-webkit-keyframes run {
      0% {
        /* left: 0; */
        transform: translateX(-100%);
      }
      100% {
        /* left: 100%; */
        transform: translateX(0%);
      }
  }


  /* ========== */

  .home-page__section--service {
    height: 120vh;
    width: 100%;
    padding-top: 4rem;
    background-color: #cfcbcb;
  }
  

  .title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .cards-container {
    background-color: #15572b;
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    gap: 10px;
  }
  

  /* why-choose-us */

  .home-page__section--why-choose {
    height: 80vh;
    padding: 10vh 0;
    width: 100%;
    background-color: white;
    
  }
  .why-choose-container {
    display: grid;
    /* grid-template-columns: repeat(3, calc(33% - 65px)); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    /* background-color: #2196F3; */
    padding: 4rem 10px;
    height: 20rem;

  }

  /* .boxes {
    background-color: whitesmoke;
    display: grid;
   
    grid-template-rows: repeat(3, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  border: 1px solid black;
  text-align: center;
  font-size: 10px;
  width: 100%;
 
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  } */

  .boxes {
    background-color: white;
    display: grid;
    box-sizing: border-box;
    padding: 4% 3%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    font-size: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  

  p , h5, h2{
    margin: 0;
    padding: 0;
  }

  .boxes .title{
    font-size: 20px;
  }

  .boxes .content{
    font-size: 16px;
    color: #818181;
  }



  /* security */
  .home-page__section--security {
    height: 120vh;
    padding: 10vh 0;
    width: 100%;
    background-color: rgb(222, 93, 93);
    
  }

  