.dashboard-panel {
    background-color: rgb(179, 179, 179);
    height: 100%;
    width: calc(100%-10px);
    padding: 0 5px;
}
.info-card-container {
   height:25vh;
   display: flex;
   align-items: center;
}

.graph-container {
    height: 30vh;
    width: auto;
    background-color: aqua;
}

.transaction-table-1 {
    height: 30vh;
    width: auto;
    background-color: rgb(29, 101, 101);

}

@media (min-width: 769px) and (max-width: 1024px) {

    /* .info-card-container {
        height: 48vh;
        grid-template-columns: 1fr 1fr;
        display: grid;
       
     } */
     
}

@media (max-width: 768px) {

    .info-card-container {
        height: 48vh;
        grid-template-columns: 1fr 1fr;
        display: grid;
       
     }
     
}



/* -------------------------------GRAPH-------------------------- */

.graph-container {
    height: 35vh;
    /* background-color: yellow; */
    width: calc(100% - 20px);
    padding: 20px 10px 10px 10px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.graph-1 {
     background-color: #25b971;
    height: 100%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}