/* Progress bar animation */
.progress-bar-animation {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 20%;
    background-color: #17a2b8;
    animation: slide 1s infinite ease-in-out;
    border-radius: 2px;
  }
  
  @keyframes slide {
    0% {
      left: 0;
    }
    50% {
      left: 50%;
      opacity: 50%;
    }
    100% {
      left: 90%;
      opacity: 0;
    }
  }
  
  /* Styling for company info section */
  .company-info {
    background-color: #bcf9ff; /* Light background for contrast */
    text-align: center;
    border-radius: 2rem;
  }
  
  .login-form {
    background-color: #ffffff;
    text-align: left; 
  }
  

  .login-card {
    width: 100%;
    padding: 0;
  }

  .container-fluid{
    background: linear-gradient(0deg, rgba(5, 233, 80, 1) 0%, rgba(153, 246, 183, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }

  .login-page-title{
    color:green;
  }

  .btn {
    background-color: #05e950;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #04c548;
  }
  .form-label{
    font-weight: bold;
    color: green;
  }